@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Noto+Serif+JP&family=Yuji+Syuku&display=swap');

body {
  overflow-y: hidden;
  height: 100vh;
}

#menu, #game, #result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#menu, #result {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

#menu, #menu > * {
  transition: border-color .5s, background-color .5s, color .1s;
}

.form-select:focus {
  border-color: initial!important;
  box-shadow: none!important;
}

label[for="game-dakuten"] > span {
  padding-left: 1em;
}

label[for="game-dakuten"]:before {
  position: absolute;
  font-size: 2em;
  content: "\309B";
}

#question {
  font-size: clamp(70px, 10vw, 100px);
}

#answer, #answer:focus {
  background: none;
  border: none;
  outline: none;
  box-shadow: 0 0 5px gray;
  text-align: center;
  width: 100%;
}

#result {
  background-color: #ffffffef;
  top: 100vh;
  height: 100vh;
}

#result.bg-dark {
  background-color: #000000cf!important;
}

#skipped-wrapper {
  margin-bottom: 1em;
  max-height: 50vh;
}

#skipped-wrapper::-webkit-scrollbar {
  width: 16px;
}

#skipped-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e43f;
  border-radius: 100px;
}

#skipped-wrapper::-webkit-scrollbar-thumb {
  background-color: #a1a1a13f;
  border-radius: 100px;
}

th, td {
  padding: 0.5em;
}
